- content_for :title do
  Admin Module
- tabs = YAML.load_file "data/admin-tabs.yml"
%header
  %span#header-left 
    = Pageant.starting? ? "Pageantus - #{@pageant.long_name}" : "Pageantus - No Pageant Active"
  %span#header-right
    .tray-icon#connectivity
    .tray-icon#lock
    .tray-icon#settings
.container
  %nav.icons-columns
    %ul
      - tabs.each do |tab|
        %li
          %a{:href => "##{tab[:name]}"}
            %i.fa.fa-3x.fa-fw.block{:class => "#{tab[:icon]}"}
            = tab[:name]
  .content-columns
  - Candidate.all.each do |c|
    .hello
      %p.small= c.first_name
  -# %a.navigation-icon.icon-gears.icon-2x.rotate{:href => "#"} Hello
    