- content_for :title do
  Admin Module
%header
  %span#header-left 
    = Pageant.starting? ? "Pageantus - #{@pageant.long_name}" : "Pageantus - No Pageant Active"
  %span#header-right
    .tray-icon#connectivity
    .tray-icon#lock
    .tray-icon#settings
.container
  %nav.icons-columns
    %ul
      - %w{Pageant Setup Reports Logs Logout}.each do |tab|
        %li
          %a{:href => "##{tab}"}
            %i.fa.fa-camera-retro
            = tab
  .content-columns
  - Candidate.all.each do |c|
    .hello
      %h4= c.first_name
  -# %a.navigation-icon.icon-gears.icon-2x.rotate{:href => "#"} Hello
    