!!!
%html
  %head
    = haml :_meta
    %title= content(:title).nil? ? Pageantus : content(:title)
    %link{:rel => "shortcut icon", :href => "images/rnd.ico"}
    %link{:href => "/image/favicon.png", :rel => "apple-touch-icon", :type => "image/png"}
    %link{:rel => "stylesheet", :href => "fonts/font.css" }
    = css :pageantusa, :media => 'screen'
  %body
    = yield
    = js :pageantus