!!!
%html
  %head
    = haml :_meta
    %title= content(:title).nil? ? Pageantus : content(:title)
    %link{:rel => "shortcut icon", :href => "images/rnd.ico"}
    %link{:href => "/image/favicon.png", :rel => "apple-touch-icon", :type => "image/png"}
    %link{:rel => "stylesheet", :href => "fonts/font.css" }
    = css :global_javascript, :media => 'screen'
  %body
    = yield
    = js :global_javascripts
    %script{ :type => "text/javascript", :src =>"#{settings.public_folder}/javascripts/#{@page_javascript}.js"}
    
    